<head>
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    
    <style>
          body   { padding-top:80px; word-wrap:break-word; background-image: url("http://www.designbolts.com/wp-content/uploads/2013/02/Carbonfiber-semi-dark-Grey-Seamless-Pattern-For-Website-Background.jpg"); opacity: 60% }
          a { text-align: center; font-size: 30px; color: #0084b4; padding: 10px 10px 10px 10px; border-color: white; border-width: 2px; margin-top: 50px;}
          .title {background-color: gray; opacity: 80%; border-radius: 30px; color: white; margin-bottom: 30px;}
          h1 {font-size: 100px; margin-top: 20px; margin-bottom: 0px;}
          h2 {margin-top: 10px; font-size: 25px;}
    </style>
    
</head>
<% if (!user) { %>
<body>
    <div class = "container text-center">
        <div class = "title">
        <h1>Pinterest Ctrl-C</h1>
        <h2>A Pinterest Clone</h2>
        </div>
        <a href="/login/twitter">Log In with Twitter</a>
    </div>
</body>
<% } else { %>
<body>
    <div class = "container text-center">
        <h1>Pinterest Ctrl-C</h1>
        <h2>A Pinterest Clone</h2>
        <a href = "/profile">View your posts</a>
        <a href = "/recent">View recent posts</a>
    </div>
</body>
<% } %>
